option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application
  "aws:elasticbeanstalk:application:environment":
    PYTHONPATH: "/var/app/current"

container_commands:
  01_clear_venv_cache:
    command: "rm -rf /var/app/venv/staging-LQM1lest && pip install --upgrade pip"
    ignoreErrors: true
  02_install_requirements:
    command: "pip install -r requirements.txt --force-reinstall"
    ignoreErrors: false
